fastapi 
uvicorn 
pydantic 
sqlalchemy
psycopg2-binary
ALEMBIC
bcrypt
pyjwt
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
python-dotenv
python-docx
sentence-transformers
pgvector
langchain
langchain-core
langchain-community
pypdf
pymupdf
